{% extends 'site.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2">
            {% for issue in issue_list %}
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ issue.title }}</h5>
                        <p class="card-text">{{ issue.text|truncatewords:20 }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <span>{{ issue.get_status_display }}</span>
                        <span>{{ issue.date_time }}</span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'issue' issue.pk %}" class="btn btn-primary btn-block">Open</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
